<div>
  <h1>
    {{ title }}
  </h1>
</div>

<div style="width: 90%; float: center">
  <fieldset id="location-fieldset">
    <h2>
      Let's find your ideal car
    </h2>
    <div>
            <label>Pick-up Location</label>
            <input type="text" id="ftsAutocomplete" value="" placeholder="city, airport, station, region, district…" role="textbox">
    </div>
  </fieldset>

  <fieldset id="btn-fieldset">
    <input type="submit" value="Search" id="formsubmit">
  </fieldset>
</div>
<router-outlet></router-outlet>
