<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link href="../node_modules/bootstrap/dist/css/bootstrap.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="//code.angularjs.org/1.7.7/angular.min.js"></script>
  <script src="//code.angularjs.org/1.7.7/angular-animate.js"></script>

  <script> src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"</script>

  <script> src="../node_modules/jquery/dist/jquery.js"</script>
  <script> src="../node_modules/bootstrap/dist/js/bootstrap.js"</script>

  <script src="bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

<div>
    <img id="backgroundimage" src="./assets/background-image.jpg">
</div>

<div style="width:100%; border-bottom-color: white; border-bottom-style:solid; border-bottom-width:1px;">

  <div id="homePageTitle" style="width:40%; display: inline-block; margin:0%;">
    <h1> {{ title }} </h1>
  </div>

  <div class="topnav" style="float: right; margin-right:5%;">

    <div style="display:inline-block">
      <button class="nav-button">British Pound</button>
    </div>

    <div style="display:inline-block">
        <span class="flag"></span>
        <button class="nav-button">English</button>
    </div>

    <div style="display:inline-block">
        <span class="manageBooking"></span>
        <button class="nav-button">Manage Booking</button>
    </div>

    <div style="display:inline-block">
        <span class="signIn"></span>
        <button class="nav-button">Sign In</button>
    </div>
  </div>

</div>

<div style="width: 100%;" class="popular-locations">
  <button id="popular-locations" style="float:right">POPULAR LOCATIONS</button>
</div>

<br>
<div id="sub"> 
  <div class="content">
    <div id="title">
      <h1>Car Hire - Search, Compare & Save</h1>
    </div>
    <div id="subTitle">
        <p>Compare 900 companies at over 60,000 locations. Best price guaranteed</p>
    </div>
  </div>
</div>

<div style="width: 48%; margin-left: 2%; display:inline-block">

  <fieldset id="location-fieldset">

    <h2> Let's find your ideal car </h2>

    <div>  
            <label>Pick-up Location</label>
            <input type="text" [(ngModel)]="pickUpLocation" class="ftsAutocomplete" value="" placeholder="city, airport, station, region, district…">
    </div>
  </fieldset>

  <fieldset>
      <input type="checkbox" [(ngModel)]="differentDropOffLocation">
      <label>Drop off car at different location?</label>
  </fieldset>

  <fieldset *ngIf="differentDropOffLocation">
      <div>
          <label>Drop-off Location</label>
          <input type="text" [(ngModel)]="dropOffLocation" class="ftsAutocomplete" value="" placeholder="city, airport, station, region, district…">
  </div>
  </fieldset>

<fieldset>
  <div>
    <label style= " display: inline-block; width: 40%" id="pickUpDateLabel">Pick-Up Date:</label>
    <label style= " display: inline-block; margin-left: 20%" id="dropOffDateLabel">Drop-off Date:</label> 
  </div>
</fieldset>

<div>
  <fieldset>
      <mat-form-field style="width:40%" id="pickUpDatePicker">
          <input matInput [ngModel]="pickUpDate | date:'dd-MM-yyyy'">  
          <input matInput [hidden]='true' [matDatepicker]="picker" [(ngModel)]="pickUpDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field style="width:40%" id="dropOffDatePicker">
          <input matInput [ngModel]="dropOffDate | date:'dd-MM-yyyy'">  
          <input matInput [hidden]='true' [matDatepicker]="picker2" [(ngModel)]="dropOffDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
  </fieldset>
</div>

<fieldset>
  <div>
    <select name="pickUpHour" style="width:20%" [(ngModel)]="pickUpHour">
        <option value="00">00</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
    </select>

    <select name= "pickUpMins" style="width:20%; margin-right: 20%;" [(ngModel)]="pickUpMins">
        <option value="00">00</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
    </select>

    <select name="dropOffHour" style="width: 20%" [(ngModel)]="dropOffHour">
        <option value="00">00</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
    </select>

    <select name= "DropOffMins" style="width:20%;" [(ngModel)]="dropOffMins">
        <option value="00">00</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
    </select>
  </div>
</fieldset>
 
<fieldset>
  <div ng-app>
    <input type="checkbox" [(ngModel)]="isYoungDriver">
    <label>Driver aged between 30-65? </label>
    
        <button class="popover"
        ngbPopover="Some companies charge more for younger or older drivers. Before you choose a car, we’ll show you exactly who charges what."
        triggers="mouseenter:mouseleave"
        popoverTitle="No Hidden Fees">
          </button>

    <div *ngIf="!isYoungDriver">
      <label style= "margin-left: 2%">Driver's age </label>
      <input type="text" style="width:26px; margin-top: 10px; margin-left: 5px; padding: 5px" [(ngModel)]="youngDriverAge">
    </div>
  </div>
</fieldset>

<fieldset>

  <div class="purposeOfRental">
    <span>Purpose of rental&nbsp;<em>(optional) </em></span>

      <button class="popover"
      ngbPopover="We are always looking for ways to improve our service and bring you the best deals by better understanding your needs."
      triggers="mouseenter:mouseleave"
      popoverTitle="popover">
        </button>

    <input type="radio" name="Business" value="Business" [(ngModel)]="purposeOfRental">Business
    <input type="radio" name="Leisure" value="Leisure" [(ngModel)]="purposeOfRental">Lesiure
  </div>    

</fieldset>

<fieldset id="btn-fieldset">
    <input type="submit" value="Search" id="formsubmit">

    <ul id="why-book-bullets-points">
        <li>No credit card fees</li>
        <li>No amendment fees</li>
        <li>24/7 phone support</li>
    </ul>
</fieldset>

</div>

<div class="car-hire-providers" style="width: 40%; display:inline-block;">
    <h2 class="car-hire-providers-message">
        Rentalcars.com connects you to the biggest brands in car hire.
    </h2>
    <img class="car-hire-company" src="/assets/AvisImage.png">
    <img class="car-hire-company" src="/assets/HertzImage.png">
    <img class="car-hire-company" src="/assets/ThriftyImage.jpg">
    <img class="car-hire-company" src="/assets/DollarImage.png">
    <img class="car-hire-company" src="/assets/SixtImage.jpg">
    <img class="car-hire-company" src="/assets/AlamoImage.png">
    <img class="car-hire-company" src="/assets/EuropcarImage.png">
    <img class="car-hire-company" src="/assets/EnterpriseImage.png">
  </div>

</body>
<router-outlet></router-outlet>
